.alpha-dice-container {
    min-height: 180px;

    .alpha-dice-btn {
        margin: 10px;
    }
    
    .letter {
        font-size: 80px;
        margin: 0 auto;
        text-align: center;
    }
}

