<div class="list-tabs" *ngIf="lists">
    <ul *ngFor="let list of lists; let idx = index">
        <li (click)="selectList(idx)">{{list.title}}</li>
    </ul>
</div>

<div class="card-display" *ngIf="selected">
    <button mat-mini-fab (click)="prev()" color="primary">Prev</button>
    <button mat-mini-fab (click)="next()" color="primary">Next</button>
    <div class="card">
        <h1>{{selected.title}}</h1>
        <ul *ngFor="let item of selected.categories">
            <li>{{item}}</li>
        </ul>
    </div>
</div>

